body {
    background-color: #12A1DB;
 
}

.logotipo {

    position: fixed;
    top: 10px; 
    left: 20px; 
    width: 100px;
    height: 80px; 
}

.imagen-contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imagen-contenedor img {
    margin-right: 20px;
}

.imagen-contenedor .numero {
    margin: 0;
    font-size: 300px; 
    color: white; 
}

.ERROR {
    position: absolute;
    top: 90%; 
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px; 
}
