.logotipo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }



.Contenedor-grande {
    margin-top: 50px; 
    margin-left: 300px; 
    
  }

.titulo {
    font-size: 100px;
    color: #08435C;
    text-align: justify;
    margin-left: 50px;
    
   
  }

.Descripcion-parrafo {
    width: 30%; 
    line-height: 1.5em;
    text-align: justify;
    color: white;
  }
  

  #usuario, #contraseña {
    border-radius: 7px; 
    width: 363px;
    height: 21px; 
  }

  .boton-iniciar-sesion button {
    background-color: #E86207; 
    color: white; 
    border-radius: 7px; 
    width: 370px; 
    height: 25px;
    
  }
  
.boton-registrarse button {
    background-color: #08435C; 
    color: white; 
    border-radius: 7px; 
    width: 370px; 
    height: 25px; 
  }
  

  
#imagen-derecha {
    position: absolute; 
    top: 150px; 
    right: 250px; 
    width: 600px; 
    height: 559px; 
    z-index: 1; 
  }
