:root{
    --color-azul-claro: #12A1DB;
    --color-azul-oscuro: #08435C;
    --color-naranja: #E86207;
}

body, html{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--color-azul-claro);
    background-image: url(../img/patron.png);
    background-repeat: repeat;
    font-family: 'Roboto', sans-serif;
}
.menu{
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem 0 2rem;
}

.logo{
    width: 100px;
    height: 100px;
}

.menu__lista{
    display: flex;
}

.menu__item{
    list-style: none;
}

.menu__link{
    color: #ffffff;
    margin-right: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}

.menu__link:hover{
    text-decoration: none;
    color: var(--color-naranja);
    transition: 0.5s;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;
}

.busqueda{
    width: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto_busqueda{
    margin: 10px;
    font-size: 30px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
}

.caja_busqueda{
    display: flex;
    width: 80%;
    align-items: center;
}

.busqueda_texto{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
}

.busqueda_boton{
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-naranja);
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.busqueda_boton:hover{
    background-color: var(--color-azul-oscuro);
}

.caja_busqueda_imagen{
    display: flex;
    flex: 1;
    text-align: center;
}

.caja_busqueda_imagen img{
    max-width: 40%;
    height: auto;
    display:block;
    margin: 0 auto;
}

.container_texto {
    padding: 30px;
    background: #ffffff;
    text-align: center;
    margin-bottom: 0;
}

.texto_central {
    margin:0 20px 40px 20px;
    font-weight: bold;
    color: var(--color-azul-oscuro);
}

.secciones_iconos {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0; 
    padding: 0;
}

.icon-section {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 3px;
}

.icon_info {
    text-align: left;
    margin: 10px;
}

.secciones_iconos li {
    font-size: 80px;
    margin-left: 10px;
}

.icon_titulo {
    font-size: 18px;
    color: var(--color-naranja);
    font-weight: bold;
}

.icon_descripcion {
    font-size: 18px;
    color: var(--color-azul-oscuro);
}


