.logotipo {
    width: 100px;
    height: 100px;
    margin-left: 20px;
  }



.Contenedor-grande {
    margin-top: 50px; 
    margin-left: 300px; 
    
  }

.titulo {
    font-size: 100px;
    color: #08435C;
    text-align: justify;
    margin-left: 50px;
    
   
  }

.Descripcion-parrafo {
    width: 30%; 
    line-height: 1.5em;
    text-align: justify;
    color: white;
  }
  

  #usuario, #contraseña {
    width: 363px;
    height: 21px; 
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    margin-right: 10px;
    cursor: pointer;
  }

  .boton-iniciar-sesion button {
    background-color: #E86207; 
    padding: 10px 20px;
    font-size: 16px;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-weight: bold;
    
  }

  .boton-iniciar-sesion button:hover{
    background-color: #08435C;
  }
  
.boton-registrarse button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #08435C;
  color: #ffffff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  }
  
  .boton-registrarse button:hover{
    background-color: #E86207; 
  }
  
#imagen-derecha {
    position: absolute; 
    top: 150px; 
    right: 250px; 
    width: 600px; 
    height: 559px; 
    z-index: 1; 
  }
