.menu_perfil{
    display: flex;
    width: 100%;
    margin: 15px;
    justify-content: space-around;
}

.imagen_perfil_menu{
    display: flex;
    flex: 1;
    text-align: left;
    border-radius: 10px;
    color: var(--color-naranja);
}

.perfil{
    width: 500px;
    margin: 50px 0 0 20px;
    max-width: 40%;
    height: auto;
    display:block;
    margin: 0 auto;
}

.boton_ayuda{

    margin-top:  50px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 40px;
}
.configuraciones{

    margin-top:  50px;
    margin-left: 500px;
    margin-bottom: 0px;
    margin-right: 100px;
}
.menu__link{
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;

}
.container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.boton_back{

    margin-top:  0px;
    margin-left: 40px;
    margin-bottom: 0px;
    margin-right: 0px;
}


.container_1{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding: 50px;
    margin-bottom: -30px;
    height:200px;

}
